<div class="flex size-full p-4 pr-10">
    <p class="font-mono text-left hover:translate-x-4 hover:text-purple-400">
        Hi! I'm Rosie, a Maths and Data Science student at the University of Exeter.
        <br>
        <br>
        I created this website both as a coding exercise for myself (what better way to stretch my skills than make something 
        useful, right?) as well as an online CV for myself as I build my portfolio and develop my skills.
        <br>
        <br>
        Please take a look around, both on the website and in the source code, which can be found on my GitHub! I love nothing 
        better than feedback, so if anything is amiss, anything could be better, or even if you just want to leave a comment, 
        please do.
        <br>
        <br>
        Happy browsing!
    </p>
</div>