<div class="flex size-full p-4 ml-3 pr-10 flex-col">
    <p class="font-mono text-left hover:translate-x-4 hover:text-purple-400 my-2 cursor-default">
        Hi! I'm Rosie, a Maths and Data Science student at the University of Exeter.   
    </p>
    <p class="font-mono text-left hover:translate-x-4 hover:text-purple-400 my-2 cursor-default">
        I created this website both as a coding exercise for myself (what better way to stretch my skills than make something 
        useful, right?) as well as an online CV for myself as I build my portfolio and develop my skills.
    </p>
    <p class="font-mono text-left hover:translate-x-4 hover:text-purple-400 my-2 cursor-default">
        Please take a look around, both on the website and in the source code, which can be found on my GitHub! I love nothing 
        better than feedback, so if anything is amiss, anything could be better, or even if you just want to leave a comment, 
        please do.
    </p>
    <p class="font-mono text-left hover:translate-x-4 hover:text-purple-400 my-2 cursor-default">
        Happy browsing!
    </p>
</div>