<div class="flex size-full w-screen">
    <div class="size-full grid grid-rows-12 grid-cols-12">
        <div class="flex col-end-7 col-start-3 row-start-3 justify-end mr-3 h-fit w-fit">
            <app-name-card> </app-name-card>
        </div>
        <div class="flex col-span-5 col-start-7 row-start-2 h-fit flex-col ml-3">
            <div class="flex w-full h-fit mt-4">
                <app-short-bio> </app-short-bio>
            </div>
            <div class="flex w-full flex-row h-fit">
                <a href="https://github.com/rosie-jeffery" class="flex p-2 mx-4 my-3 hover:text-purple-300"> 
                    GitHub 
                </a>
                <a href="www.linkedin.com/in/rosie-jeffery" class="flex p-2 mx-4 my-3 hover:text-purple-300"> 
                    LinkedIn 
                </a>
            </div>
        </div>
    </div>
</div>