<div class="w-screen h-full grid grid-cols-12 grid-rows-12">
    <div class="row-start-3 col-end-7 col-start-3">
        <p class="text-right mr-6 text-xl hover:-translate-x-4 hover:text-purple-300">
            Email:
        </p>
    </div>
    <div class="row-start-3 col-start-7 col-span-4">
        <p class="text-left text-xl hover:translate-x-4 hover:text-purple-300">
            something&#64;gmail.com
        </p>
    </div>
    <div class="row-start-5 col-end-7 col-start-3">
        <p class="text-right mr-6 text-xl hover:-translate-x-4 hover:text-purple-300">
            LinkedIn:
        </p>
    </div>
    <div class="row-start-5 col-start-7 col-span-4">
        <p class="text-left text-xl hover:translate-x-4 hover:text-purple-300">
            something&#64;gmail.com
        </p>
    </div>
    <div class="row-start-7 col-end-7 col-start-3">
        <p class="text-right mr-6 text-xl hover:-translate-x-4 hover:text-purple-300">
            GitHub:
        </p>
    </div>
    <div class="row-start-7 col-start-7 col-span-4">
        <p class="text-left text-xl hover:translate-x-4 hover:text-purple-300">
            something&#64;gmail.com
        </p>
    </div>
</div>