<div class="mr-6">
    <h1 class="text-xl text-right my-2 hover:-translate-x-4 hover:text-purple-400 cursor-default">
        My name's Rosie.
    </h1>
    <p class="text-right hover:-translate-x-4 hover:text-purple-400 my-2 cursor-default">
        I'm a student of Maths and Data Science at the University of Exeter. At time of writing, my journey through university 
        isn't looking to be the most traditional; but to me, that means I'll be that much more proud of myself when I'm done.
    </p>
    <p class="text-right hover:-translate-x-4 hover:text-purple-400 my-2 cursor-default">
        The first time I ever seriously considered STEM as a path open to me was in Year 9, when I was told by one of my 
        teachers that I could likely go to university for Mathematics, if I wanted. From there, I firmly committed to studying 
        the subject, attaining high marks at GCSE and A Level.
    </p>
    <p class="text-right hover:-translate-x-4 hover:text-purple-400 my-2 cursor-default">
        7 years later, I'm beginning to move away from the highly theoretical path I first put myself on. Instead, I'm 
        turning my sights towards software engineering, a field I never expected to enjoy but have come to love over the 
        course of my work experience.
    </p>
    <p class="text-right hover:-translate-x-4 hover:text-purple-400 my-2 cursor-default">
        In my free time, I'm a baker, boulderer, and lover of strategy games. I strive to improve myself in all areas of life, 
        and believe there's no better feeling than mastering a new recipe, finally sending my project after weeks of 
        work, or unlocking a new ascension in Slay the Spire.
    </p>
</div>
